In [135]:
import pandas as pd

In [136]:
rawdata=pd.read_csv("HW2_data.csv")

In [137]:
tempdict={'Name':[],'Sex':[],'Age':[],'HR':[],'Height':[],'Weight':[],'BP':[]}
organized=pd.DataFrame(tempdict)
indexcnt=0

In [138]:
#rawdata[ rawdata['0']=='Daniel' ]
#temp.iloc[1,1]
#rawdata.iloc[1,0]
#rawdata.shape[0]

In [139]:
namelist=list()
for i in range(rawdata.shape[0]):
        if rawdata.iloc[i,0] not in namelist:
            namelist.append(rawdata.iloc[i,0])

In [140]:
for i in range(len(namelist)):
    organized.loc[str(i)]=[namelist[i],0,0,0,0,0,0]
    namemask=rawdata[ rawdata['0']==namelist[i] ]
    
    for j in range(namemask.shape[0]):
        organized.loc[str(i),namemask.iloc[j,1]]=namemask.iloc[j,2]
organized

         Name Sex Age  HR Height Weight   BP
0      Daniel   M  37  80    165     72  131
1       Avery   F  66  72    159     54  121
2      Joseph   M  42   0    168     70  110
3     Jackson   M  46  81    170     64   97
4        Nora   F  48  82    153     59   93
5       Aiden   M  38  93    166     69  136
6      Evelyn   F  60  67    168     60  106
7        Zoey   F  37  79      0      0  112
8     Matthew   M  69  85    166     70  128
9       Layla   F  12  87    156     47  142
10   Isabella   F  31  82    151     51   94
11       Mila   F  48   0    164     48  139
12      Emily   F  52  84    166     46   98
13      Lucas   M  39   0    171     64  148
14       Ella   F  10  80    168     67  137
15     Elijah   M  30  64    177     73  137
16  Alexander   M  43  66    171     62  124
17      Chloe   F  70  81    174     66   93
18       Emma   F  35  61    159     64  137
19     Sophia   F  66  62    168     49  144
20    Madison   F  74  80      0      0    0
21   Victoria   F  62  65      0      0   96
22    Abigail   F  46  87    161     56  119
23      Riley   F  26  78      0      0  139
24    Michael   M  13  79    163     65    0
25    William   M  38  86    174     73  119
26      James   M  65  67      0      0  124
27  Elizabeth   F  43  84    163     56   98
28        Mia   F  60  90    171     60  127
29      Mason   M  37   0    186     76  134
30     Camila   F  44   0    166     46  134
31   Scarlett   F  60  74    154     64  107
32     Olivia   F  51  92    152     52  100
33      Grace   F  15  91    172     64  134
34       Noah   M  30  77    181     68    0
35      Ethan   M  12  86    167     61  103
36    Lillian   F  66  64    158     59   91
37      Sofia   F  58  79    171     59  131
38       Liam   M  45  94    172     62  141
39     Harper   F  36  60    174     53  121
40      Henry   M  70  81    179     63  130
41      Jacob   M  13  89    183     76  147
42       Aria   F  55  81    170     59  127
43  Charlotte   F  65  82      0      0   92
44        Ava   F  70  66    165     63    0
45   Penelope   F  47   0    174     61  134
46      Logan   M  62  87    177     76    0
47     Oliver   M  45  62    184     66  139
48   Benjamin   M  39  72    164     68  122
49     Amelia   F  66   0    151     49  119

In [141]:
def avg(x):
        print(type(x))
        return
        temp=int(sum(x)/x.shape[0])
        return temp
    #except:
        #return 0

In [143]:
#organized.loc['Average']=
organized['Age'].mean()
#organized.apply(avg,axis=0)
#organized

7.532849296772075e+97